@font-face {
    font-family: "LB";
    src: url("Fonts/LibreBodoni-Regular.ttf");
}

@font-face {
    font-family: "LCT";
    src: url("Fonts/LibreCaslonText-Regular.ttf");
}

@font-face {
    font-family: "LF";
    src: url("Fonts/LibreFranklin-Regular.ttf");
}

@font-face {
    font-family: "LS";
    src: url("Fonts/LifeSavers-Regular.ttf");
}

@font-face {
    font-family: "MT";
    src: url("Fonts/Maitree-Regular.ttf");
}

@media (min-width:1024px) {

    html {
        overscroll-behavior: none;
        overflow-x: hidden;
    }
    body {
        margin: 0;
        padding: 0;
        min-height: 100vh;
        background-color: #ffffff;
        color: #000000;
        display: grid;
        grid-template-rows: auto auto auto auto auto auto repeat(6, 1fr);
        overflow-x: hidden;
    }


    header {
        background-color: #fcc2d9;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 0.5rem;
    }

    .logo {
        grid-column: 1/2;
        display: flex;
        justify-self: end;
    }

    .logo img {
        width: 2.5rem;
        height: 4rem;
        margin-right: 0.5rem;
    }

    .logo h1 {
        font-family: "LCT";
        font-weight: 400;
        font-size: 1rem;
        letter-spacing: 0.3rem;
        align-self: flex-end;
    }

    .search_bar {
        height: 55%;
        width: 90%;
        border-radius: 40px;
        border: 1px #e097b4 solid;
        background-color: #e097b4;
        align-self: center;
        justify-self: end;
        grid-column: 3/4;
        padding-left:12px;
    }

    .search_bar:focus {
        outline: none;
    }

    ::placeholder {
        color:#847e7e
    }
    .icons {
        grid-column: 4/5;
        place-self: center center;
    }

    .icons button {
        background: none;
        border: none;
        margin: 0 1rem;
    }


    nav {
        grid-row: 2/3;
        display: flex;
        gap: 5rem;
        align-items: center;
        justify-content: center;
        border: 2px solid black;
        padding: 0.3rem;
    }

    nav button {
        background: none;
        border: none;
    }

    nav button p {
        font-family: "LF";
        font-weight: 600;
        color: #837676;
        font-size: 1rem;
    }


    main {
        justify-content: center;
        grid-row: 3/4;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        position: relative;
        padding: 5rem;
        margin-bottom: 5rem;
    }

    .first-rect {
        width: 49vw;
        height: 57vh;
        left: 4vw;
        top: 6vh;
        z-index: -1;
        position: absolute;
    }

    .second-rect {
        width: 42vw;
        height: 21vh;
        right: 0;
        bottom: 19vh;
        position: absolute;
        z-index: -1;
    }

    .live-button {
        justify-self: start;
        margin-left: 2vw;
        margin-bottom: 3vh;
        background: none;
        border: none;
        align-self: end;
        grid-area: 2/1/3/2;
    }

    main h1 {
        font-family: LCT;
        font-size: 10rem;
        letter-spacing: 3.5rem;
        place-self: center;
        grid-area: 1/1/3/3;
        margin-bottom: 30vh;
    }

    main h2 {
        font-family: LS;
        font-size: 3.5rem;
        text-align: center;
        align-self: center;
        color: white;
        margin-top: 5vh;
        grid-area: 2/2/3/3;
    }

    .main-content {
        grid-row: 4/5;
        margin: 0 auto;
        text-align: center;
        background-image: url("../Design/section-background.png");
        width: 100vw;
    }

    .main-content h1 {
        font-size: 2rem;
        font-family: LCT;
        font-weight: 400;
        margin-bottom: 0;
    }

    .main-content hr {
        border: 1.5px black solid;
        width: 30vw;
        margin-bottom: 1.5rem;
    }

    .main-content button {
        background: none;
        border: none;
        margin-bottom: 5rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .main-content button img {
        width: 23vw;
        height: 78vh;
    }

    .about-us {
        grid-row: 5/6;
        margin-top: 5vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto repeat(2, 1fr);
        padding-bottom: 2rem;
    }

    .about-us h1 {
        font-size: 3rem;
        font-family: LCT;
        text-align: center;
        grid-area: 1/1/2/3;
    }

    .about-us hr {
        border: 1.5px black solid;
        width: 25vw;
        grid-area: 1/1/2/3;
        align-self: end;
        margin-bottom: 1.2rem;
    }

    .first {
        width: 20rem;
        height: 20rem;
        grid-area: 2/1/3/2;
        align-self: center;
        justify-self: end;
        margin-right: 7rem;
    }

    .second {
        width: 24rem;
        height: 24rem;
        grid-area: 2/2/3/3;
        align-self: center;
        justify-self: start;
    }

    .third {
        width: 26rem;
        height: 26rem;
        grid-area: 3/1/4/2;
        align-self: end;
        justify-self: end;
        margin-right: 3rem;

    }

    .fourth {
        width: 24rem;
        height: 24rem;
        grid-area: 3/2/4/3;
        align-self: start;
        justify-self: start;
    }

    .details-1 {
        font-family: LB;
        font-size: 1.4rem;
        grid-area: 2/2/3/3;
        align-self: center;
        margin-left: 6rem;
        margin-top: 2.5rem;
    }

    .details-2 {
        font-family: LB;
        font-size: 1.4rem;
        grid-area: 3/1/4/2;
        align-self: center;
        justify-self: end;
        margin-right: 7rem;
        z-index: 1;
        text-align: right;
        margin-bottom: 2.5rem;
    }

    footer {
        background-color: #fcc2d9;
        color: black;
    }

    footer p {
        font-size: 1.5rem;
        font-family: LF;
        letter-spacing: 0.15rem;
        text-align: center;
        margin: 1rem;
    }



}
